@model Expense_Manager.Models.Expense

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpenseName" class="control-label"></label>
                <input asp-for="ExpenseName" class="form-control" />
                <span asp-validation-for="ExpenseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseType" class="control-label"></label>
                <input asp-for="ExpenseType" class="form-control" />
                <span asp-validation-for="ExpenseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseAmount" class="control-label"></label>
                <input asp-for="ExpenseAmount" class="form-control" />
                <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseLocation" class="control-label"></label>
                <input asp-for="ExpenseLocation" class="form-control" />
                <span asp-validation-for="ExpenseLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseUserId" class="control-label"></label>
                <input asp-for="ExpenseUserId" class="form-control" />
                <span asp-validation-for="ExpenseUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
