@model Expense_Manager.Models.Expense

@{
    ViewData["Title"] = "Edit";
    var Typeslist = TempData["Typeslist"] as List<string>;
}

<h1>Edit</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ExpenseName" class="control-label"></label>
                <input asp-for="ExpenseName" class="form-control" />
                <span asp-validation-for="ExpenseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseType" class="control-label">ExpenseType</label>
                
                <select asp-for="ExpenseType" class="form-control" id="expenseTypeSelect">
                    <option value="">--Select Option--</option>
                    <option value="Custom">Custom</option>
                    @if (Typeslist != null)
                    {
                        @foreach (var type in Typeslist)
                        {
                            <option value="@type">@type</option>
                        }
                    }
                   
                </select>
                <input asp-for='ExpenseType' hidden="hidden" class="form-control" id="customExpenseType">
                <span asp-validation-for="ExpenseType" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ExpenseAmount" class="control-label"></label>
                <input asp-for="ExpenseAmount" class="form-control" />
                <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExpenseUserId" />
            
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Search">Back To List</a>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $('#expenseTypeSelect').change(function () {
                if ($(this).val() === 'Custom') {
                    $('#customExpenseType').removeAttr('hidden');
                    $(this).attr('hidden', 'hidden');
                } else {
                    $('#customExpenseType').attr('hidden', 'hidden');
                    $(this).removeAttr('hidden');
                }
            });
            $('#customExpenseType').change(function () {
                var customExpenseValue = $(this).val();
                $('#expenseTypeSelect').val(customExpenseValue);
            });
        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
