@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <h2>Please confirm you want to logout</h2>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
            <a class="btn btn-primary" asp-area="Expenses" asp-page="/Index" style="margin-top: 10px;">Back</a>

        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
